@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ------ Colors ------ */
    --body-color: #EEEEEE;
    --sidebar-color: #FFFFFF;
    --primary-color: #11999E;
    --secondary-color: #E39774;
    --primary-color-light: #F0F3F4;
    --toggle-color: #DDDDDD;
    --text-color: #012A36;

    /* ------ Transitions ------ */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --secondary-color: #E39774;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFFFFF;
    --text-color: #CCCCCC;
}

/* ------ Sidebar ------ */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 255px;
    padding: 10px 15px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
    border-right: 5px solid var(--primary-color);
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 8px;
    transition: var(--trans-04);
}

.sidebar.close .image-text img {
    width: 50px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar .text {
    font-size: 15.6px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600; 
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 130%;
    right: -30px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--trans-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sidebar li .icon {
    font-size: 25px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .text {
    font-size: 18px;
    margin-left: 10px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
}

.sidebar li a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.sidebar li a:hover {
    background: var(--secondary-color);
    color: var(--sidebar-color);
    border-radius: 6px;
    padding: 0;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: var(--primary-color-light);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    transition: var(--trans-05);
}

.sidebar .menu {
    margin-top: 20px;     
}

.sidebar .menu-bar {
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--primary-color-light);
    border-radius: 6px;
    position: relative;
    transition: var(--trans-05);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    min-width: 60px;
    display: flex;
    align-items: center;
    margin-left: -70px;
}

.menu-bar .search-box .icon {
    cursor: pointer;
}

.menu-bar .mode i {
    position: absolute;
}

.menu-bar .mode i.sun {
    opacity: 0;
    transition: var(--trans-03);
}

.menu-bar .mode i.moon {
    transition: var(--trans-03);
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    right: 0;
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-04);
}

body.dark .switch::before{
    left: 24px;
}

body.dark .top-nav {
    border-color: var(--primary-color);
}

body.dark .top-nav .icon {
    color: var(--text-color);
}

body.dark .sidebar header .toggle {
    transform: rotate(180deg);
    color: var(--text-color);
    background: var(--primary-color);
}

body.dark .sidebar li a:hover {
    border: none;
    background: var(--primary-color-light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

/* ------ Main Content ------ */
.main-content {
    position: relative;
    left: 255px;
    height: 100vh;
    width: calc(100% - 255px);
    background: var(--body-color);
    transition: var(--trans-05);
}

.sidebar.close ~ .main-content {
    left: 88px;
    width: calc(100% - 88px);
}

.main-content {
    font-weight: 500;
    color: var(--text-color);
}

.top-nav {
    height: 40px;
    background: var(--sidebar-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5px;
    border-bottom: 5px solid var(--secondary-color);
}

.top-nav .icon {
    font-size: 25px;
    height: 25px;
    width: 25px;
    color: var(--primary-color);
}

.page-content .page-header {
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-header .profession, .page-header .name, .page-header .blerb {
    padding-left: 20px;
    border-left: 5px solid var(--primary-color);
    max-width: 700px;
    color: var(--text-color);
}

.page-content .page-header .profession {
    font-size: 30px;
    font-weight: 600;
}

.page-content .page-header .name {
    font-size: 60px;
    font-weight: 700;
}

.page-content .page-header .blerb {
    font-size: 20px;
    font-weight: 500;
    max-width: 700px;
    padding-bottom: 15px;
}

.page-content .projects {
    margin-top: 50px;
    padding: 20px 40px 20px 80px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.page-content .game-project {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-content .game-projects,
.page-content .software-projects,
.page-content .tutorial-projects {
    display: flex;
    flex-direction: unset;
    gap: 20px;
    position: relative;
    left: 0;
    top: 0;
}

.page-content .projects .circle-label {
    border: 5px solid var(--primary-color);
    border-radius: 50%;
    padding: 20px 20px;
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-color);
}

.page-content .projects .circle-label-secondary {
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    padding: 20px 20px;
    width: 100px;
    height: 100px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sidebar-color);
}

.page-content .game-projects-content {
    background: var(--sidebar-color);
    width: 100%;
    border-radius: 6px;
    padding: 20px;
}

.page-content .software-project-content {
    background: var(--sidebar-color);
    width: 100%;
    border-radius: 6px;
    padding: 20px;
}

.page-content .tutorial-projects-content {
    background: var(--sidebar-color);
    width: 100%;
    border-radius: 6px;
    padding: 20px;
}

.page-content .professional-projects,
.page-content .personal-projects {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
}
.page-content .internship-projects {
    border-left: 5px solid var(--secondary-color);
    padding: 10px;
}

.page-content .game-projects-content .professional-title,
.page-content .game-projects-content .personal-title,
.page-content .game-projects-content .internship-title {
    font-size: 25px;
    font-weight: 600;
}

.page-content .candy-chaos,
.page-content .mother-ducker,
.page-content .balloon-pop {
    display: flex;
    gap: 20px;
    background: var(--toggle-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.page-content .candy-chaos .game-title,
.page-content .mother-ducker .game-title,
.page-content .balloon-pop .game-title {
    font-size: 25px;
    font-weight: 600;
}

.page-content .candy-chaos .game-images {
    margin-top: 5px;
}

.page-content .professional-games-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.professional-games-content .row-1 .main-game-image {
    border-radius: 10px;
}

.professional-games-content .row-2 .game-image {
    border-radius: 10px;
    width: 317px;
}

.professional-games-content .mother-ducker .main-game-image,
.professional-games-content .balloon-pop .main-game-image {
    width: 640px;
    height: 533.33px;
    border-radius: 10px;
}

.row-2 {
    display: flex;
    gap: 5px;
    padding-top: 5px;
}

.page-content .candy-chaos .game-info,
.page-content .mother-ducker .game-info,
.page-content .balloon-pop .game-info {
    width: 100%;
}


.page-content .candy-chaos .game-description,
.page-content .mother-ducker .game-description,
.page-content .balloon-pop .game-description {
    display: flex;
    width: 100%;
    margin-top: 5px;
    flex-direction: column;
    gap: 10px;
}

.page-content .candy-chaos .game-info .game-description .tools-skills,
.page-content .mother-ducker .game-info .game-description .tools-skills,
.page-content .balloon-pop .game-info .game-description .tools-skills {
    display: flex;
    align-items: center;
    gap: 5px;
}

.page-content .candy-chaos .game-info .game-description .tools-skills .icon,
.page-content .mother-ducker .game-info .game-description .tools-skills .icon,
.page-content .balloon-pop .game-info .game-description .tools-skills .icon {
    height: 25px;
    width: 25px;
    font-size: 25px;
}

.page-content .candy-chaos .game-info .game-description .company,
.page-content .mother-ducker .game-info .game-description .company,
.page-content .balloon-pop .game-info .game-description .company {
    font-size: 20px;
    font-weight: 500;
}

.page-content .candy-chaos .game-info .game-description .role,
.page-content .mother-ducker .game-info .game-description .role,
.page-content .balloon-pop .game-info .game-description .role {
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
}