@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ------ Colors ------ */
    --body-color: #EEEEEE;
    --sidebar-color: #FFFFFF;
    --primary-color: #11999E;
    --secondary-color: #E39774;
    --primary-color-light: #F0F3F4;
    --toggle-color: #DDDDDD;
    --text-color: #012A36;

    /* ------ Transitions ------ */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--trans-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --secondary-color: #E39774;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFFFFF;
    --text-color: #CCCCCC;
}

/* ------ Sidebar ------ */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 10px 15px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar .text {
    font-size: 15.6px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600; 
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--trans-03);
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
}

body.dark .sidebar.close header .toggle {
    transform: translateY(-50%);
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sidebar li .icon {
    font-size: 25px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .text {
    font-size: 18px;
    margin-left: 10px;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
}

.sidebar li a {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

.sidebar li a:hover {
    background: var(--secondary-color);
    color: var(--sidebar-color);
    border-radius: 6px;
    padding: 0;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: var(--primary-color-light);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    transition: var(--trans-05);
}

.sidebar .menu {
    margin-top: 30px;     
}

.sidebar .menu-bar {
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--primary-color-light);
    border-radius: 6px;
    position: relative;
    transition: var(--trans-05);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    min-width: 60px;
    display: flex;
    align-items: center;
    margin-left: -70px;
}

.menu-bar .search-box .icon {
    cursor: pointer;
}

.menu-bar .mode i {
    position: absolute;
}

.menu-bar .mode i.sun {
    opacity: 0;
    transition: var(--trans-03);
}

.menu-bar .mode i.moon {
    transition: var(--trans-03);
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    right: 0;
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
    border-radius: 25px;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--trans-04);
}

body.dark .switch::before{
    left: 24px;
}

body.dark .sidebar header .toggle {
    transform: rotate(180deg);
    color: var(--text-color);
    background: var(--primary-color);
}

body.dark .sidebar li a:hover {
    border: none;
    background: var(--primary-color-light);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

/* ------ Main Content ------ */
.main-content {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--trans-05);
}

.sidebar.close ~ .main-content {
    left: 88px;
    width: calc(100% - 88px);
}

.main-content {
    font-weight: 500;
    color: var(--text-color);
}

/* ------ Home Page ------ */
.page-content .page-header {
    background: red;
    width: 100%;
    padding: 10px 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.page-content .page-header .my-info {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 80px;
}

.page-header .my-info .profession {
    font-size: 20px;
}

.page-header .my-info .name {
    font-size: 50px;
}

.page-header .my-info .blerb {
    font-size: 16px;
    max-width: 500px;
}