@{
    ViewData["Title"] = "Home";
}

<div class="page-content">
    <div class="page-header">
        <span class="name">Jacquelynne Heiman</span>
        <span class="profession">Software Engineer</span>
        <span class="blerb">I am a California based software engineer who specializes in gameplay programming</span>
    </div>
    <div class="projects">
        <div class="game-projects">
           <div class="circle-label">
                Games
           </div>
           <div class="game-projects-content">
               <div class="game-project">
                   <div class="professional-projects">
                       <span class="professional-title">Professional Projects</span>
                       <div class="professional-games-content">
                           <div class="candy-chaos">
                               <div class="game-images">
                                   <div class="row-1">
                                       <img class="main-game-image" src="~/images/candy-chaos.png" alt="candy chaos title"/>
                                   </div>
                                   <div class="row-2">
                                        <img class="game-image" src="~/images/room.png" alt="candy chaos room" />
                                        <img class="game-image" src="~/images/room-2.png" alt="candy chaos room" />
                                   </div>
                               </div>
                               <div class="game-info">
                                    <span class="game-title">Samuel Sweetbottom's Candy Chaos</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-python icon'></i>
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Samuel Sweetbottom's Candy Chaos is a fast paced co-operative story room where players are immersed in a rich narrative while working together to complete mini-games and fullfill orders. This larger than life arcade game challenges 4-6 players to beat the clock by completing all six mini-games. </span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Collaborated with team members to design the narrative
                                                </li>
                                                <li>
                                                    Rapidly prototyped a variety of mini-games in Unity to pitch for stakeholder approval
                                                </li>
                                                <li>
                                                    Designed the game segements and determined game pacing
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C# and Python
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated on the team as a key team member through the entire software development life cycle.
                                                </li>
                                                <li>Participated in play testing and made adjustments to the game design and programming as needed to address feedback.</li>
                                            </ul>
                                        </div>
                                    </div>
                               </div>
                           </div>
                            <div class="mother-ducker">
                                <div class="game-info">
                                    <span class="game-title">Mother Ducker</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Mother Ducker is a competitive arcade game where 2-4 players vie to collect the most ducks. As the players collect baby ducks from around the level, or steal them from other players, the ducks follows the player until dropped off at the player's nest.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Designed and created game assest using photoshop
                                                </li>
                                                <li>
                                                    Designed the game segements and determined game pacing
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C#
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated on the team as a key team member through the entire software development life cycle.
                                                </li>
                                                <li>
                                                    Participated in play testing and made adjustments to the game as needed to address feedback.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/ducks-game.png" alt="mother ducker" />
                                    </div>
                                </div>
                            </div>
                            <div class="balloon-pop">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/balloon-pop.png" alt="balloon pop" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Balloon Pop</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" style="margin-top: -15px;" src="~/images/c-sharp.svg" alt="c#" />
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Balloon Pop is a family favorite midway arcade game at Two Bit Circus. Players throw balls at the screen to pop as many balloons as they can before time runs out. This game features match three mechanics that allow players to pop even more balloons to get the highest score they can.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Maintained the existing architecture and added new features as needed.
                                                </li>
                                                <li>
                                                    Added multi-player gameplay to this previously single player experience
                                                </li>
                                                <li>
                                                    Programmed game functionality in Unity using C#
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated in play testing and made adjustments to the game design and programming as needed to address feedback.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                    <div class="internship-projects">
                        <span class="internship-title">Internship Projects</span>
                        <div class="internship-games-content">
                            <div class="grey-area">
                                <div class="game-info">
                                    <span class="game-title">Grey Area</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" style="margin-top: -15px;" src="~/images/c-sharp.svg" alt="c#" />
                                        </div>
                                        <span class="company">Opera Skunk</span>
                                        <span class="role">Lead Game Programmer</span>
                                        <span class="game-blerb">Grey Area is an adventure stealth game in which the player plays a little grey alien who crash landed on Earth in 1940s Roswell, New Mexico.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Programmed realistic AI for stealth levels</li>
                                                <li>Scripted level events such as dialog, cutscenes, and effects</li>
                                                <li>Programmed mini-map for in game navigation</li>
                                                <li>Designed & implemented skill trees and upgrades system for character abilities</li>
                                                <li>Programmed crafting system</li>
                                                <li>Designed & programmed dialogue system</li>
                                                <li>Designed & programmed quest system</li>
                                                <li>Programmed game functionality in Unity using C#</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/grey-area.jpg" alt="grey area title" />
                                    </div>
                                </div>
                            </div>
                            <div class="boss-simulator">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/boss-simulator.png" alt="boss simulator title" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Boss Simulator</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                        </div>
                                        <span class="company">Saguaro Games Studio</span>
                                        <span class="role">Lead Game Programmer</span>
                                        <span class="game-blerb">Boss Simulator is a first person simulation with a focus on interpersonal management to ensure employees have a safe and productive work environment. The office environment is fully customizable so players can make their office their own and place items that influence the emotions and needs of the employees through the environment.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Designed & programmed realistic AI using Goal Oriented Action Planning (GOAP)</li>
                                                <li>Designed & programmed emotional aura system for AI feelings</li>
                                                <li>Designed & programmed item placement system</li>
                                                <li>Designed & programmed item upgrade system</li>
                                                <li>Designed & programmed dialogue system</li>
                                                <li>Programmed game functionality in Unity using C#</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="personal-projects">
                       <span class="personal-title">Personal Projects</span>
                        <div class="personal-games-content">
                            <div class="getaway-driver">
                                <div class="game-info">
                                    <span class="game-title">Getaway Driver</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-unity icon'></i>
                                            <i class='bx bxl-visual-studio icon'></i>
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                        </div>
                                        <span class="company">Saguaro Games Studio</span>
                                        <span class="role">Game Developer</span>
                                        <span class="game-blerb">Getaway Driver is an endless runner game for mobile. This game features an in-game store where players can purchase coins and hearts with real money, as well as purchase power-ups with in-game currency. </span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Designed & programmed swipe controls for player movement</li>
                                                <li>Designed & created UI in photoshop</li>
                                                <li>Collborated with a 3D game artist to provide vision & feedback on environment assets</li>
                                                <li>Created a game design document for the game</li>
                                                <li>Programmed all game functionality in Unity using C#</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="game-image" src="~/images/getaway-driver-1.png" alt="getaway driver gameplay" />
                                        <img class="game-image" src="~/images/getaway-driver-2.png" alt="getaway driver store" />
                                        <img class="game-image" src="~/images/getaway-driver-3.png" alt="getaway driver customization" />
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
        </div>
        <div class="software-projects">
            <div class="circle-label-secondary">Software</div>
            <div class="software-project-content">
                <div class="game-project">
                    This is software project content
                </div>
            </div>
        </div>
        <div class="tutorial-projects">
            <div class="circle-label">Tutorials</div>
            <div class="tutorial-projects-content">
                This is tutorial content
            </div>
        </div>
    </div>
</div>
