@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content">
    <div class="page-header">
        <div class="slideshow">

        </div>
        <div class="my-info">
            <span class="profession">Software Engineer</span>
            <span class="name">Jacquelynne Heiman</span>
            <span class="blerb">I am a California based full-stack software engineer that specialized in gameplay programming</span>
        </div>
    </div>
</div>
