@{
    ViewData["Title"] = "Home";
}

<div class="page-content">
    <div class="page-header">
        <span class="name">Jacquelynne Heiman</span>
        <span class="profession">Software Engineer</span>
        <span class="blerb">I am a California based software engineer who specializes in gameplay programming</span>
    </div>
    <div class="projects">
        <div class="game-projects">
           <div class="circle-label">Games</div>
           <div class="game-projects-content">
               <div class="game-project">
                   <div class="professional-projects">
                       <button class="accordion-primary">Professional Projects</button>
                       <div class="professional-games-content">
                           <div class="candy-chaos">
                               <div class="game-images">
                                   <div class="row-1">
                                       <img class="main-game-image" src="~/images/candy-chaos.png" alt="candy chaos title"/>
                                   </div>
                                   <div class="row-2">
                                        <img class="game-image" src="~/images/room.png" alt="candy chaos room" />
                                        <img class="game-image" src="~/images/room-2.png" alt="candy chaos room" />
                                   </div>
                               </div>
                               <div class="game-info">
                                    <span class="game-title">Samuel Sweetbottom's Candy Chaos</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <img class="icon" src="~/images/python.png" alt="python" />
                                            <img class="icon" src="~/images/gitlab.png" alt="gitlab" />
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Samuel Sweetbottom's Candy Chaos is a fast paced co-operative story room where players are immersed in a rich narrative while working together to complete mini-games and fullfill orders. This larger than life arcade game challenges 4-6 players to beat the clock by completing all six mini-games. </span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Collaborated with team members to design the narrative
                                                </li>
                                                <li>
                                                    Rapidly prototyped a variety of mini-games in Unity to pitch for stakeholder approval
                                                </li>
                                                <li>
                                                    Designed the game segements and determined game pacing
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C# and Python
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated on the team as a key team member through the entire software development life cycle.
                                                </li>
                                                <li>Participated in play testing and made adjustments to the game design and programming as needed to address feedback.</li>
                                            </ul>
                                        </div>
                                    </div>
                               </div>
                           </div>
                            <div class="mother-ducker">
                                <div class="game-info">
                                    <span class="game-title">Mother Ducker</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <img class="icon" src="~/images/gitlab.png" alt="gitlab" />
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Mother Ducker is a competitive arcade game where 2-4 players vie to collect the most ducks. As the players collect baby ducks from around the level, or steal them from other players, the ducks follows the player until dropped off at the player's nest.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Designed and created game assest using photoshop
                                                </li>
                                                <li>
                                                    Designed the game segements and determined game pacing
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C#
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated on the team as a key team member through the entire software development life cycle.
                                                </li>
                                                <li>
                                                    Participated in play testing and made adjustments to the game as needed to address feedback.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/ducks-game.png" alt="mother ducker" />
                                    </div>
                                </div>
                            </div>
                            <div class="balloon-pop">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/balloon-pop.png" alt="balloon pop" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Balloon Pop</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <img class="icon" src="~/images/gitlab.png" alt="gitlab" />
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="company">Two Bit Circus</span>
                                        <span class="role">Game Designer</span>
                                        <span class="game-blerb">Balloon Pop is a family favorite midway arcade game at Two Bit Circus. Players throw balls at the screen to pop as many balloons as they can before time runs out. This game features match three mechanics that allow players to pop even more balloons to get the highest score they can.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Maintained the existing architecture and added new features as needed.
                                                </li>
                                                <li>
                                                    Added multi-player gameplay to this previously single player experience
                                                </li>
                                                <li>
                                                    Programmed game functionality in Unity using C#
                                                </li>
                                                <li>
                                                    Collaborated closely with game artists, audio engineers, fabrication and electrical engineers.
                                                </li>
                                                <li>
                                                    Participated in play testing and made adjustments to the game design and programming as needed to address feedback.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       </div>
                   </div>
                    <div class="internship-projects">
                        <button class="accordion-secondary">Internship Projects</button>
                        <div class="internship-games-content">
                            <div class="grey-area">
                                <div class="game-info">
                                    <span class="game-title">Grey Area</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="company">Opera Skunk</span>
                                        <span class="role">Lead Game Programmer</span>
                                        <span class="game-blerb">Grey Area is an adventure stealth game in which the player plays a little grey alien who crash landed on Earth in 1940s Roswell, New Mexico.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Programmed realistic AI for stealth levels</li>
                                                <li>Scripted level events such as dialog, cutscenes, and effects</li>
                                                <li>Programmed mini-map for in game navigation</li>
                                                <li>Designed & implemented skill trees and upgrades system for character abilities</li>
                                                <li>Programmed crafting system</li>
                                                <li>Designed & programmed dialogue system</li>
                                                <li>Designed & programmed quest system</li>
                                                <li>Programmed game functionality in Unity using C#</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/grey-area.jpg" alt="grey area title" />
                                    </div>
                                </div>
                            </div>
                            <div class="boss-simulator">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/boss-simulator.png" alt="boss simulator title" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Boss Simulator</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="company">Saguaro Games Studio</span>
                                        <span class="role">Lead Game Programmer</span>
                                        <span class="game-blerb">Boss Simulator is a first person simulation with a focus on interpersonal management to ensure employees have a safe and productive work environment. The office environment is fully customizable so players can make their office their own and place items that influence the emotions and needs of the employees through the environment.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Designed & programmed realistic AI using Goal Oriented Action Planning (GOAP)</li>
                                                <li>Designed & programmed emotional aura system for AI feelings</li>
                                                <li>Designed & programmed item placement system</li>
                                                <li>Designed & programmed item upgrade system</li>
                                                <li>Designed & programmed dialogue system</li>
                                                <li>Programmed game functionality in Unity using C#</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="personal-projects">
                        <button class="accordion-primary">Personal Projects</button>
                        <div class="personal-games-content">
                            <div class="getaway-driver">
                                <div class="game-info">
                                    <span class="game-title">Getaway Driver</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/android.png" alt="android" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="role">Game Developer</span>
                                        <span class="game-blerb">Getaway Driver is an endless runner game for mobile. This game features an in-game store where players can purchase coins and hearts with real money, as well as purchase power-ups with in-game currency.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Collaborated with team members to design the narrative
                                                </li>
                                                <li>
                                                    Designed & programmed swipe controls for player movement
                                                </li>
                                                <li>
                                                    Designed & created UI in photoshop
                                                </li>
                                                <li>
                                                    Collborated with a 3D game artist to provide vision & feedback on environment assets
                                                </li>
                                                <li>
                                                    Created a game design document for the game
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C#
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="game-image" src="~/images/getaway-driver-1.png" alt="candy chaos title" />
                                        <img class="game-image" src="~/images/getaway-driver-2.png" alt="candy chaos title" />
                                        <img class="game-image" src="~/images/getaway-driver-3.png" alt="candy chaos title" />
                                    </div>
                                </div>
                            </div>
                            <div class="donut-madness">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/donut-madness.png" alt="candy chaos title" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Donut Madness</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/android.png" alt="android" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="role">Game Developer</span>
                                        <span class="game-blerb">Donut Madness is a match three game for Android and iOS. This game features procedurally generated levels, power-ups and an in game store. This game was a solo project that I worked on to learn more about creating games for mobile.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Designed & programmed swipe controls for moving pieces on the board
                                                </li>
                                                <li>
                                                    Programmed gameplay mechanics
                                                </li>
                                                <li>
                                                    Created and programmed particle effects
                                                </li>
                                                <li>
                                                    Programmed all game functionality in Unity using C#
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space-shooter">
                                <div class="game-info">
                                    <span class="game-title">Space Shooter</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-plusplus.svg" alt="C++" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                            <img class="icon" src="~/images/sfml-icon.svg" alt="sfml" />
                                        </div>
                                        <span class="role">Game Programmer</span>
                                        <span class="game-blerb">Space Shooter is an arcade clone of Asteroids by Atari. This game was created in pure C++ along with the Super Fast Media Library (SFML). The art assets in this game are from kenney.nl.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>
                                                    Programmed basic AI for the enemy ships & asteroids
                                                </li>
                                                <li>
                                                    Programmed player movement 
                                                </li>
                                                <li>
                                                    Designed & Programmed a basic save/load system 
                                                </li>
                                                <li>
                                                    Programmed an audio manager to allow players increase/decrease the volume
                                                </li>
                                                <li>
                                                    Programmed all functionality in C++ using Visual Studio & SFML
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/spaceshooter-gameplay.png" alt="spaceshooter gameplay" />
                                        <img class="main-game-image" src="~/images/spaceshooter-game-over.png" alt="spaceshooter game over" />
                                    </div>
                                    <div class="row-2">
                                        <img class="main-game-image" src="~/images/spaceshooter-menu.png" alt="spaceshooter menu" />
                                        <img class="main-game-image" src="~/images/spaceshooter-pause-menu.png" alt="spaceshooter pause menu" />
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="game-jam-projects">
                        <button class="accordion-secondary">Game Jam Projects</button>
                        <div class="game-jam-games-content">
                            <div class="halloween-ball">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/dawn-of-the-halloween-ball-1.png" alt="dawn of the halloween ball title" />
                                        <img class="main-game-image" src="~/images/dawn-of-the-halloween-ball-2.png" alt="dawn of the halloween ball gameplay" />
                                    </div>
                                    <div class="row-2">
                                        <img class="game-image" src="~/images/dawn-of-the-halloween-ball-3.png" alt="dawn of the halloween ball gameplay" />
                                        <img class="game-image" src="~/images/dawn-of-the-halloween-ball-4.png" alt="save/load screen" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Dawn of the Halloween Ball</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/python.png" alt="python" />
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                            <div class="skill-tag">Ren'py</div>
                                        </div>
                                        <span class="role">Game Programmer</span>
                                        <span class="game-blerb">Dawn of the Halloween Ball is a 2D visual novel created in a 48 hour game jam. Our team, of 2 artist, 1 designer and 1 programmer, created the game based on the theme 'Ball'. I programmed all of the game's functionality in Ren'py using Python.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Collborated with a 2D game artists & game designers to create the game</li>
                                                <li>Programmed all game functionality in Ren'py using Python</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="beyond-the-fence">
                                <div class="game-info">
                                    <span class="game-title">Beyond the Fence</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="role">Game Programmer</span>
                                        <span class="game-blerb">In Beyond the Fence play as a lost dog trying to make their way home to their human. In this game, players will solve puzzles to find their way back home. This game was a game made in Global Game Jam with a small team of 4 game developers. The team consited of 2 designers and 2 programmers. </span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the narrative</li>
                                                <li>Collborated with game designers & programmers to create the game</li>
                                                <li>Programmed gameplay mechanics in Unity with C#</li>
                                                <li>Scripted level events</li>
                                                <li>Programmed basic patroling AI characters</li>
                                                <li>Programmed first person character controller</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/beyond-the-fence.png" alt="dawn of the halloween ball title" />
                                        <img class="main-game-image" src="~/images/beyond-the-fence-3.png" alt="dawn of the halloween ball gameplay" />
                                    </div>
                                    <div class="row-2">
                                        <img class="game-image" src="~/images/beyond-the-fence-2.png" alt="dawn of the halloween ball gameplay" />
                                        <img class="game-image" src="~/images/beyond-the-fence-4.png" alt="save/load screen" />
                                    </div>
                                </div>
                            </div>
                            <div class="cootie-19">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/cootie-19.png" alt="dawn of the halloween ball title" />
                                    </div>
                                    <div class="row-2">
                                        <img class="game-image" src="~/images/cootie-19-3.png" alt="dawn of the halloween ball gameplay" />
                                        <img class="game-image" src="~/images/cootie-19-4.png" alt="dawn of the halloween ball gameplay" />
                                        <img class="game-image" src="~/images/cootie-19-5.png" alt="dawn of the halloween ball gameplay" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">COOTIE-19</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/unity.png" alt="unity" />
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <i class='bx bxl-github icon'></i>
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                        </div>
                                        <span class="role">Game Programmer</span>
                                        <span class="game-blerb">COOTIE-19 is a game designed to teach kids how to be safe during COVID-19 during a week-long game jam sponsored by Cartoon Network. Our team of 2 artists, 1 designer and 1 programmer designed the game using a truama based approach and won first place in the jam.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Collaborated with team members to design the mini-games</li>
                                                <li>Collborated with a 2D game artists & game designers to create the game</li>
                                                <li>Programmed all game functionality in Unity using C#</li>
                                                <li>Won first place in the game jam</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
           </div>
        </div>
        <div class="software-projects">
            <div class="circle-label-secondary">Software</div>
            <div class="software-project-content">
                <div class="game-project">
                    <div class="professional-projects"> 
                        <button class="accordion-secondary">Professional Projects</button>
                        <div class="professional-games-content">
                            <div class="aeries-software">
                                <div class="game-images">
                                    <div class="row-1">
                                        <img class="main-game-image" src="~/images/Aeries-logo.svg" alt="Aeries Software" />
                                    </div>
                                </div>
                                <div class="game-info">
                                    <span class="game-title">Aeries Student Information System</span>
                                    <div class="game-description">
                                        <div class="tools-skills">
                                            <img class="icon" src="~/images/visual-studio.png" alt="visual studio" />
                                            <img class="icon" src="~/images/aws-icon.svg" alt="Amazon Web Services" />
                                            <img class="icon" src="~/images/bootstrap-icon.svg" alt="bootstrap logo" />
                                            <img class="icon" src="~/images/react-icon.svg" alt="react logo" />
                                            <img class="icon" src="~/images/jquery-logo.png" alt="jquery logo" />
                                            <img class="icon" src="~/images/javascript-logo.svg" alt="javascript logo" />
                                            <img class="icon" src="~/images/c-sharp.svg" alt="c#" />
                                            <img class="icon" src="~/images/azure.png" alt="azure devops" />
                                            <img class="icon" src="~/images/windows.png" alt="windows" />
                                            <img class="icon" src="~/images/apple.png" alt="iOS" />
                                            <img class="icon" src="~/images/android.png" alt="android" />
                                            <img class="icon" src="~/images/dotnet-core.svg" alt=".NET Core" />
                                            <img class="icon" src="~/images/microsoft-sql-server.svg" alt="microsoft sql server" />
                                            <div class="skill-tag language">Visual Basic</div>
                                        </div>
                                        <span class="company">Aeries Software</span>
                                        <span class="role">Full Stack Software Developer</span>
                                        <span class="game-blerb">Aeries is a Student Information System that helps schools further student success in California and Texas. While at Aeries, I was a full stack developer, working on both the front and back end.</span>
                                        <div class="contributions">
                                            <ul>
                                                <li>Create web applications using HTML, CSS, JavaScript, Visual Basic, C# and other languages</li>
                                                <li>Integrate software components into existing systems</li>
                                                <li>Debug code to identify errors and fix them efficiently</li>
                                                <li>Optimize program performance by analysing code and making changes as needed</li>
                                                <li>Assist with planning, desinging, coding, debugging, testing, documenting and maintaining the flagship software application</li>
                                                <li>Participate in code review meetings, providing input on bugs, inefficiencies and potential solutions to emergent issues</li>
                                                <li>Modify existing software systems to enhance performance and add new features</li>
                                                <li>Promoted from Junior Software Developer to Mid-Level Software Developer in my first 3 months of working at Aeries</li>
                                                <li>Maintence team Scrum Master</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tutorial-projects">
            <div class="circle-label">Tutorials</div>
            <div class="tutorial-projects-content">
                This is tutorial content
            </div>
        </div>
    </div>
</div>
